
    
#home1
{
    background-color: rgb(181, 179, 179);
    background-size: cover;
    height: 100vh;
    background-image: url("../Image/votee1.jpeg");
}
/* .logo{
    padding-top: 10%;
    padding-right: 40%;

} */
/* h3{

    padding-bottom: 200px;
} */
.so
{
    font-family:cursive;
    font-size: small;
    text-align: center;
    padding-top: 250px;
}





