
.registration-form-container {
    /* max-width: 400px;
    margin: 0 auto;
    padding: 20px; */
    
    font-family: 'Times New Roman';
      /* padding-top: 20px; */
      max-width: 300px;
      margin: 0 auto;
      padding: 20px;
      border: 1px solid #988e8e;
      border-radius: 8px;
      height: fit-content;


  }
  .reg
  {
    background-image: url("../Image/vote.jpg");
    
    /* padding-left: 90px; */
    /* background-color: rgb(223, 247, 247); */
      justify-content: center;
      display: flex;
      text-align: center;
      /* padding: 50px 120px 100px 10px; */
      padding-right: 50%;
      padding-top: 100px;
      padding-bottom: 100px;
      /* background-position: center; */
      background-repeat: no-repeat;
      background-size: cover;
      color: rgb(0, 0, 0);
  }
  
  h1 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
  }
  
  label {
    display: block;
    font-weight: bold;
    color: rgb(0, 0, 0);
  }
  
.form-group input,
  select {
    width: 100%;
    padding: 5px;
    font-size: 16px;
  }
  
  /* button {
    display: block;
       background-color: #4caf50;
    text-align: center;
    color: white;
    border: none;
    cursor: pointer;
  } */
  
  .error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  .Votee
  {
      color: rgb(0, 0, 0);
      text-decoration: none;
      text-align: center;
  }
  ::placeholder
  {
    color:rgb(1, 1, 1);
  }
  /* .re{ */
    /* background-image: url("../Image/all01.jpg"); */
    /* padding-left: 90px; */
      /* justify-content: center;
      display: flex;
      text-align: center; */
      /* padding: 50px 20px 100px 10px; */
      /* padding-left: 50%;
      padding-top: 50px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      color: rgb(255, 251, 251);
      background-color:rgb(159, 200, 236);
  } */